a, b, i, p, li, ol, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #181818;
  color: #e8e8e8;
}

button {
  min-width: 88px;
  min-height: 36px;
  background: none;
  border: none;
  color: #e8e8e8;
  text-transform: uppercase;
  font-family: 'open sans';
  font-weight: 600;
  font-size: 0.9rem;
}

button:hover,
button:focus {
  background: rgba(204,204,204,0.15);
  border: none;
}

button:focus {
  background: rgba(204,204,204,0.25);
}

button:disabled {
  color: rgba(255,255,255,0.3);
}

a {
  text-decoration: none;
  color: #e8e8e8;
}

a:hover,
a:active {
  outline: 0;
}

.navbar {
  background: #334;
  position: fixed;
  top: 50px;
  left: 0px;
  margin-top: -50px;
  height: 50px;
  width: 100%;
  transition: top 0.75s;
}

.navbar .toggle {
  line-height:
}

.sidebar {
  background: #303E4D;
  background: #334;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 64px;
  left: 200px;
  margin-left: -200px;
  transition: left 0.75s, top 0.75s;
}

.sidebar ul {
  list-style: none;
  padding-left: 5px;
}

.sidebar ul li {
  border-radius: 6px 0 0 0;
}

.nav a {
  color: #e8e8e8;
  text-decoration: none;
  padding: 15px 10px;
  line-height: 1.25em;
  display: inline-block;
}

.sidebar a {
  text-align: right;
  width: 100%;
}

.sidebar ul li.active a,
.sidebar ul li a:hover {
  background: #181818;
}

.sidebar ul li:first-child a {
  border-top-left-radius: 6px;
}

.sidebar ul li:last-child a {
  border-bottom-left-radius: 6px;
}

.content {
  margin: 65px 15px 0 215px;
  transition: margin 0.75s;
}

.full .content {
  margin: 15px;
}

.full .nav,
.hidden {
  left: 0;
  top: 0;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.card {
  background: rgba(255,255,255,0.15);
  margin: 15px;
}

.card img {
  vertical-align: top;
}

.card section {
}

.card header h1 {
  color: #9fb2da;
  text-align: center;
  font-size: 1.35rem;
  line-height: 1.15rem;
  font-weight: normal;
}

.icon {
  width: 20px;
  margin: 7px 7px 0 0;
  vertical-align: bottom;
  text-align: left;
  display: inline-block;
}

.pull-right {
  float: right;
}

.pull-right .icon {
  margin: 0;
}

input {
  background: inherit;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.25);
  margin-bottom: 12px;
}
